<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.workorder.dao.WosUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.workorder.entity.WosUser">
        <id column="Id" property="Id" />
        <result column="UserName" property="UserName" />
        <result column="Password" property="Password" />
        <result column="Salt" property="Salt" />
        <result column="RealName" property="RealName" />
        <result column="DepartmentId" property="DepartmentId" />
        <result column="Gender" property="Gender" />
        <result column="Birthday" property="Birthday" />
        <result column="Portrait" property="Portrait" />
        <result column="Email" property="Email" />
        <result column="Mobile" property="Mobile" />
        <result column="QQ" property="qq" />
        <result column="WeChat" property="WeChat" />
        <result column="LoginCount" property="LoginCount" />
        <result column="UserStatus" property="UserStatus" />
        <result column="IsSystem" property="IsSystem" />
        <result column="IsOnline" property="IsOnline" />
        <result column="FirstVisit" property="FirstVisit" />
        <result column="PreviousVisit" property="PreviousVisit" />
        <result column="LastVisit" property="LastVisit" />
        <result column="Remark" property="Remark" />
        <result column="WebToken" property="WebToken" />
        <result column="ApiToken" property="ApiToken" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        Id, UserName, Password, Salt, RealName, DepartmentId, Gender, Birthday, Portrait, Email, Mobile, QQ, WeChat, LoginCount, UserStatus, IsSystem, IsOnline, FirstVisit, PreviousVisit, LastVisit, Remark, WebToken, ApiToken
    </sql>

</mapper>
